{% extends "base.html" %}

{% block title %}
    <title>Manage Your Projects From The Comofort of Your Own Home | Bold</title>
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="static/styles_header.css">
{% endblock %}

{%block body%}
<div class="flex-container">
    <div class="container m-auto">
        <div class="container">
        <p><h1 class="new"><strong> Bold</strong> brings all your projects together in a single place</h1></p>
        </div>
        <div class="container">
        <p><h3>Start working today. </h3> </p>
        </div>
        <div class="container">
            <button onclick="{}" type="button" class="btn btn-primary btn-lg"><a style="color: white; text-decoration: none;" href="{{ url_for('auth.register') }}">Try it now</a></button>
        </div>
    </div>
    <div></div>
    <div style="outline: 5px solid white;" class="image-container"> 
        <img src="https://penntoday.upenn.edu/sites/default/files/2022-02/Plotkin-cooperation.jpeg" style="position: relative;" width=600 height=500 id="indexphoto">
    </div>
</div>
<hr>

    <div class="cards-area">
        <div class="container">
            <div class="row card-columns d-flex align-items-center justify-content-center">
                <div class="col-md-4">
                    <div class="card">
                        <div class="img1"><img id="hey" src="https://cdn.shopify.com/s/files/1/0070/7032/files/best-website-builders.jpg?v=1616816981&width=1024" alt=""></div>
                        <div class="main-text">
                            <h4 class="card-title"><strong>Jumpstart your organizing..</strong></h4>
                            <p class="card-text">Focus on what matters and get things dones in due time. Excel in your deadlines and deliver outstanding results</p>
                            <a href="#" class="btn btn-primary stretched-link">Register</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="img2"><img id="hey" src="https://cdn.shopify.com/s/files/1/0070/7032/files/1-build-a-website.jpg?v=1615422396" alt=""></div>
                        <div class="main-text">
                            <h4 class="card-title"><strong>Jumpstart your organizing..</strong></h4>
                            <p class="card-text">Focus on what matters and get things dones in due time. Excel in your deadlines and deliver outstanding results</p>
                            <a href="#" class="btn btn-primary stretched-link">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

