{% extends "base.html" %}

{% block title %} <title> Main | Bold </title> {% endblock %}

{% block links %}
<link rel="stylesheet" href="static/mainheader.css">
{% endblock %}

{% block body %}
<body>
<div class="container-fluid sidemenu">
    <div class="row">
        <div class="col-md-2 bg-light d-none d-md-block sidebar">
            <div class="left-sidebar">
                <ul class="nav flex-column sidebar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"
                                      clip-rule="evenodd"/>
                            </svg>
                            Tasks
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('todo_app.add') }}">
                            <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"
                                      clip-rule="evenodd"/>
                            </svg>
                            Add
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            {% for todo in todos %}
            {% if todo.user_id == user.id %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ todo.name }}</h5>
                    <p class="card-text">Press delete to delete the task when you've completed it.</p>
                    <a href="{{ url_for('todo_app.delete_post', todo_id=todo.id ) }}" class="btn btn-primary">Delete</a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
</body>
{% endblock %}